
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Chỉnh sửa</h2>

<form action="/players/edit/@Model.PlayerID" method="post">
    <input type="hidden" name="PlayerID" value="@Model.PlayerID" />
    <div class="row">
        <div class="col-md-6">
            <label for="PlayerName">Tên cầu thủ</label>
            <input type="text"
                   class="form-control"
                   id="PlayerName"
                   name="PlayerName"
                   placeholder="Nhập tên..."
                   value="@Model.PlayerName" />
        </div>
        <div class="col-md-6">
            <label for="PlayerNumber">Số áo</label>
            <input type="number"
                   class="form-control"
                   id="PlayerNumber"
                   name="PlayerNumber"
                   placeholder="Nhập số áo..."
                   value="@Model.PlayerNumber" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="RoleName">Vị trí</label>
            <input type="text"
                   class="form-control"
                   id="RoleName"
                   name="RoleName"
                   placeholder="Nhập vị trí cầu thủ..."
                   value="@Model.RoleName" />
        </div>
        <div class="col-md-6">
            <label for="TeamName">Tên đội</label>
            <input type="text"
                   class="form-control"
                   id="TeamName"
                   name="TeamName"
                   placeholder="Nhập tên đội..."
                   value="@Model.TeamName" />
        </div>
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-success">Lưu thay đổi</button>
    <a href="/players" class="btn btn-danger">Trở về</a>
</form>
